<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Echo Elite</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin_assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin_assets/css/main.css" rel="stylesheet" type="text/css" />
</head>



<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin/dashboard" class="brand-wrap">
                <img src="/admin_assets/imgs/theme/echo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>

                </li>

                <li class="menu-item ">
                    <a class="menu-link" href="/admin/sellers"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">

                    </div>
                </li>

                <li class="menu-item active">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Coupon</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/sales"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Sale Report</span> </a>
                </li>
               

            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">

        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i
                                class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/admin_assets/imgs/icons/administrators-6.png" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add Offer </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <input type="text" placeholder="Search Categories" class="form-control bg-white">
                </div>
            </div>
            <!-- <div class="d-flex justify-content-end pb-20">
                <a href="" class="btn btn-sm btn-primary rounded font-sm">Create Categories</a>
            </div> -->
            <!-- <div>
                
                <a href="" class="btn btn-sm btn-success rounded font-sm mt-5">Edit</a>
            </div>
            -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9" style="display: flex; flex-wrap: nowrap; ">
                            <div class="col-sm-6 mb-3" style="margin-bottom: 20px; width: 150px; margin-left: 20px;">
                                <label class="form-label" style="font-weight: bold;">Category</label>
                                <select class="form-select" name="catName" id="catNameSelect" style="padding: 13px; border-radius: 5px; border: 1px solid #ccc;">
                                    <% for( let i=0; i < catData.length; i++ ) { %>
                                        <% if (catData[i].is_blocked === false) { %>
                                            <option value="<%= catData[i].name %>">
                                                <%= catData[i].name %>
                                            </option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>
                            <div class="mb-4" style="margin-bottom: 20px; margin-left: 20px;">
                                <label for="product_name" class="form-label" style="display: block; font-weight: bold;">Start Date</label>
                                <input type="date" placeholder="Type here" name="product_name" id="startDate" onchange="startDate()" style="padding: 13px; border-radius: 5px; border: 1px solid #ccc;">

                                <div id="startDateError" class="text-danger" style="font-style: italic; margin-top: 5px;"></div>
                            </div>
                            <div class="mb-4" style="margin-bottom: 20px;  margin-left: 20px;">
                                <label for="product_name" class="form-label" style="display: block; font-weight: bold;">End Date</label>
                                <input type="date" placeholder="Type here" name="product_name" id="endDate" onchange="endDate()" style="padding: 13px; border-radius: 5px; border: 1px solid #ccc; display: inline;">
                                <div id="endDateError" class="text-danger" style="font-style: italic; margin-top: 5px;"></div>
                            </div>
                            <div class="mb-4" style="margin-bottom: 20px;  margin-left: 20px;">
                                <label class="form-label" style="display: block; font-weight: bold;">Discount</label>
                                <input placeholder="Type here" name="description" id="discount" onchange="catDis()" style="padding: 13px; border-radius: 5px; border: 1px solid #ccc;" onKeyDown="return /[0-9]/.test(event.key) || event.key === 'Backspace' || event.key === 'Delete' || event.key === 'ArrowLeft' || event.key === 'ArrowRight'">
                                <div id="discountErr" class="text-danger"></div> 
                            </div>
                        </div>

                        <p id="common" class="text-danger"></p>
                        
                        
                    </div>
                </div>
                <!-- card body .// -->
                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <input type="submit" class="btn btn-primary" id="submitId" onclick="add()" value="ADD">
                        <input type="submit" class="btn btn-danger" value="Cancel" onclick="cancel()">
                    </div>
                </div>
            </div>

            <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin_assets/js/vendors/select2.min.js"></script>
    <script src="/admin_assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin_assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin_assets/js/main.js" type="text/javascript"></script>
    <script src="/admin_assets/js/custom-chart.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>


     function startDate() {
       
        const selectedDate = new Date(document.getElementById('startDate').value);
     
        const today = new Date();
        today.setHours(0, 0, 0, 0);
        
        
        if (selectedDate < today) {
          
            document.getElementById('startDateError').innerText = 'Selected date cannot be in the past.';
        } else {
            
            document.getElementById('startDateError').innerText = '';
        }
    }



    function endDate() {
        // Get the selected end date
        const endDate = new Date(document.getElementById('endDate').value);
        // Get the selected start date
        const startDate = new Date(document.getElementById('startDate').value);
        // Get today's date at midnight
        const today = new Date();
        today.setHours(0, 0, 0, 0);

        // Compare the selected end date with today's date
        if (endDate < today) {
            // If selected end date is before today, show an error message
            document.getElementById('endDateError').innerText = 'End date cannot be in the past.';
            return; // Exit the function early if there's an error
        }

        // Compare the selected end date with the selected start date
        if (endDate < startDate) {
            // If selected end date is before selected start date, show an error message
            document.getElementById('endDateError').innerText = 'End date cannot be before start date.';
            return; // Exit the function early if there's an error
        }

        // Compare the selected end date with the selected start date
        if (endDate.getTime() === startDate.getTime()) {
            // If selected end date is the same as selected start date, show an error message
            document.getElementById('endDateError').innerText = 'End date cannot be the same as start date.';
            return; // Exit the function early if there's an error
        }

        // Clear any previous error messages
        document.getElementById('endDateError').innerText = '';
    }

    function catDis(){
        const discount=document.getElementById("discount").value

        if(discount>=99&&discount<=1){
            document.getElementById("discountErr").innerHTML="dicount must be 99 or 1 %"
            
        }else if(discount=="") {
            document.getElementById("discountErr").innerHTML="discount is require"
        }else{
            document.getElementById("discountErr").innerHTML=""
        }
    }


    function add(){
        // alert("submit")
        startDate()
        endDate()
        catDis()

        const startErr=document.getElementById('startDateError').innerText
        const endErr= document.getElementById('endDateError').innerText
        const disErr=document.getElementById("discountErr").innerHTML

        if(startErr||endErr||disErr){
            document.getElementById("common").innerHTML="Enter valid offer"
        }else{
            document.getElementById("common").innerHTML=""

            const discount=document.getElementById("discount").value
            const startDate=document.getElementById('startDate').value
            const endDate=document.getElementById('endDate').value
            const catname=document.getElementById('catNameSelect').value
            // alert(typeof(catname))


            $.ajax({
                url:"/admin/addOfferPost",
                method:"post",
                data:{
                    discount,
                    startDate,
                    endDate,
                    catname
                },
                success:(response)=>{
                    if(response.status==true){
                        window.location.href="/admin/catagoryOffer"
                    }
                }
            })
        }
    }
  





    

    </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html>